
<form method ="post">
    <p>User Name
        <input type="text" name="name"></input>
    </p>
    
    <p>User password
        <input type="password" name="password"></input>
    </p>
   
    <p>User Age
        <input type="number" name="age"></input>
    </p>
 
    <p>Info
        <input type="text" name="info"></input>
    </p>
    
    <p>
        <input type="submit" value="Send"></input>
    </p>
</form>

