@{
    ViewData["Title"] = "LogIn";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <p>
        User name
        <p><input type="text" name="userName"></input></p>
    </p>
    <p>
        User password
    <p><input type="password" name="userPassword"></input></p>
    </p>
    <p><input type="submit" value="Login"></input></p>
</form>
