@{
    ViewData["Title"] = "LogIn";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    <p>
        Login<br>
        <input  type="text" name="userLogin"></input>
    </p>
    <p>
        Password<br>
        <input type="password" name="userPassword"></input>
    </p>
    <p>
        <input type="submit" value="LogIn"></input>
    </p>
</form>
